In [1]:
# usual set of imports and definitions
from datascience import *
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Configure for presentation
np.set_printoptions(threshold=50, linewidth=50)
import matplotlib as mpl
mpl.rc('font', size=16)

## Drinks

In [2]:
# create a table of drinks available at several places with there prices
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([  # a table of menus for cafes
    ['Milk Tea', 'Tea One', 4],
    ['Espresso', 'Nefeli',  2],
    ['Latte',    'Nefeli',  3],
    ['Espresso', "Abe's",   2]
])
drinks

Drink    | Cafe    | Price
Milk Tea | Tea One | 4
Espresso | Nefeli  | 2
Latte    | Nefeli  | 3
Espresso | Abe's   | 2

In [3]:
# create a table of available discounts
discounts = Table().with_columns(                 # A table of discounts by cafe
    'Coupon % off', make_array(25, 50, 5),
    'Location', make_array('Tea One', 'Nefeli', 'Tea One')
)
discounts

Coupon % off | Location
25           | Tea One
50           | Nefeli
5            | Tea One

In [4]:
# combine the tables by matching cafe names
t = drinks.join('Cafe', discounts, 'Location')
t            # note you don't have a discount for Abe's

Cafe    | Drink    | Price | Coupon % off
Nefeli  | Espresso | 2     | 50
Nefeli  | Latte    | 3     | 50
Tea One | Milk Tea | 4     | 25
Tea One | Milk Tea | 4     | 5

In [5]:
# Compute a column of discounted price
t.with_column('Discounted', t.column(2) * (1 - t.column(3)/ 100))

Cafe    | Drink    | Price | Coupon % off | Discounted
Nefeli  | Espresso | 2     | 50           | 1
Nefeli  | Latte    | 3     | 50           | 1.5
Tea One | Milk Tea | 4     | 25           | 3
Tea One | Milk Tea | 4     | 5            | 3.8

In [6]:
# What do all possible two-drink orders cost?
# Join with itself, matching on Cafe (you only order in one place)
two = drinks.join('Cafe', drinks)
two

Cafe    | Drink    | Price | Drink_2  | Price_2
Abe's   | Espresso | 2     | Espresso | 2
Nefeli  | Espresso | 2     | Espresso | 2
Nefeli  | Espresso | 2     | Latte    | 3
Nefeli  | Latte    | 3     | Espresso | 2
Nefeli  | Latte    | 3     | Latte    | 3
Tea One | Milk Tea | 4     | Milk Tea | 4

In [7]:
# Add a total price
two.with_column('Total', two.column('Price') + two.column('Price_2'))

Cafe    | Drink    | Price | Drink_2  | Price_2 | Total
Abe's   | Espresso | 2     | Espresso | 2       | 4
Nefeli  | Espresso | 2     | Espresso | 2       | 4
Nefeli  | Espresso | 2     | Latte    | 3       | 5
Nefeli  | Latte    | 3     | Espresso | 2       | 5
Nefeli  | Latte    | 3     | Latte    | 3       | 6
Tea One | Milk Tea | 4     | Milk Tea | 4       | 8

In [8]:
# Can you find price of all double orders using a discount, 
# assuming discount can be applied to both drinks? Only to one?